@model AspNetElectron.ViewModels.AddMessageViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="form">
    <form asp-action="AddMessage">

        <div asp-validation-summary="ModelOnly">
            <span>Введите автора и текст</span>
        </div>

        <div class="form__item">
            <label class="form__label" asp-for="Author"></label>
            <input class="form__input" asp-for="Author" />
        </div>
        <span class="form__error" asp-validation-for="Author"></span>

        <div class="form__item">
            <label class="form__label" asp-for="Text"></label>
            <input class="form__input" asp-for="Text" />
        </div>
        <span class="form__error" asp-validation-for="Text"></span>

        <button class="form__button">Создать</button>
    </form>
</div>